Source: grml-tips
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.9.5
Homepage: http://git.grml.org/?p=grml-tips.git
Vcs-git: git://git.grml.org/grml-tips.git
Vcs-Browser: http://git.grml.org/?p=grml-tips.git
Origin: Grml
Bugs: mailto:bugs@grml.org

Package: grml-tips
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libwww-perl, libterm-readkey-perl
Description: search for tips and hints via a keyword
 The provided script grml-tips queries a signature file
 for a specific keyword and displays results on stdout.
