Source: grml-tips
Section: grml
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.7.2
XS-Vcs-hg: http://hg.grml.org/grml-tips

Package: grml-tips
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: search for tips and hints via a keyword
 The provided script grml-tips queries a signature file
 for a specific keyword and displays results on stdout.
 .
  Homepage: http://grml.org/
