#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpkg/pkg-info.mk

%:
	dh $@

override_dh_install:
	pod2man grml-tips > grml-tips.1
	dh_install

override_dh_clean:
	rm -f grml-tips.1
	dh_clean
